<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/gfreezy/mac-seeker/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>l6OWJQk1eZvfrxilEHA0vrvuUt7xFw9NxuLA9miO7sM=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SURequireSignedFeed</key>
	<true/>
</dict>
</plist>
